body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    flex: 1; /* Контейнер растягивается */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Контент занимает все пространство */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.footer {
    background-color: #234480;
    color: aliceblue;
    padding: 30px 20px;
    text-align: center;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 75px;

    background-color: #234480;
}

.header__image {
    width: 100px;
    height: 100px;
}

.header__text {
    font-size: 24px;
    color: aliceblue;
}

.nav {
    display: flex;
    justify-content: flex-end;      /* центрируем навигацию */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #2a5298;
}

.nav__list {
    display: flex;
    width: 100%;
    max-width: 600px;
}

.nav__item {
    font-size: 16px;
}

.nav__link {
    text-decoration: none;
    display: block;
    padding: 10px 32px 10px 32px;
    transition: all 0.2s ease;
    font-weight: 700;
    color:#fff !important;
}

.nav__link--active {
    color: #fff !important; 
    background-color: #152b5a;
}

.nav__link:hover {
    color: #ffffff !important;
    background-color: #152b5a;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%; /* важно */
}

.edu-progress {
    margin: 50px 0px 0px 0px;
    border-radius: 10px;
    padding: 25px;
    background-color: #2a5298;
    color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
}

.edu-progress__item {
    margin: 0px 0px 5px 0px;
}

.line {
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 2px;
    background-color: #23447f;
}

.courses {
    margin: 35px 0px 0px 0px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 30px;
    background-color: #f9f9f9;
}

.courses__title {
    text-align: center;
}

.courses__item {
    margin: 20px 0px 0px 0px;
    width: 100%;
    border-left: 5px solid #2a5298;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 10px 0px;
}

.courses__progress {
    width: 97%;
    height: 5px;
    background-color: #cacaca;
    margin: 0px 0px 0px 10px;
    border-radius: 10px;
}

.first-bar {
    width: 90%;
    height: 5px;
    background-color: #2a5298;
    border-radius: 10px;
}

.second-bar {
    width: 70%;
    height: 5px;
    background-color: #2a5298;
    border-radius: 10px;
}

.third-bar {
    width: 50%;
    height: 5px;
    background-color: #2a5298;
    border-radius: 10px;
}

.courses__procent {
    margin: 0px 0px 0px 10px;
}

.courses__desc {
    font-size: 20px;
    margin: 10px;
}

.btn {
    width: 250px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #2a5298;
    color: #fff;
    margin: 40px 0px 0px 0px;
    cursor: pointer;
    font-weight: 700;
}