/* СТРАНИЦА ПРОЕКТОВ */
/* Добавьте в существующие стили */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    flex: 1; /* Контейнер растягивается */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Контент занимает все пространство */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.footer {
    background-color: #234480;
    color: aliceblue;
    padding: 30px 20px;
    text-align: center;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 75px;

    background-color: #234480;
}

.header__image {
    width: 100px;
    height: 100px;
}

.header__text {
    font-size: 24px;
    color: aliceblue;
}

.nav {
    display: flex;
    justify-content: flex-end;      /* центрируем навигацию */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #2a5298;
}

.nav__list {
    display: flex;
    width: 100%;
    max-width: 600px;
}

.nav__item {
    font-size: 16px;
}

.nav__link {
    text-decoration: none;
    display: block;
    padding: 10px 32px 10px 32px;
    transition: all 0.2s ease;
    font-weight: 700;
    color:#fff !important;
}

.nav__link--active {
    color: #fff !important; 
    background-color: #152b5a;
}

.nav__link:hover {
    color: #ffffff !important;
    background-color: #152b5a;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%; /* важно */
}

.info__text h2 {
    color: #2a5298;
}

.info {
    display: flex;
    max-width: 900px;
    margin: 20px auto;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.info__img {
    width: 150px;
    height: 250px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.info__file--btn {
    width: 200px;
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    transition: all 0.2s ease;
    cursor:pointer;
}

.info__file--btn:hover {
    background-color: #234480;
    color: #ffffff ;
}

.info__text {
    padding: 0px 0px 0px 30px;
}

.info__file--btn {
    margin: 100px 0px 0px 0px;
    background-color: #2a5298;
    color: #fff;
    font-weight: 700;
}


.skills {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.skills__text {
    text-align: center;
    color: #2a4d92;
}

.skills__progress-bars {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #cacaca;
    margin: 0px 0px 0px 0px;
}

.bar {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border-left: 5px solid #2a5298;
    margin: 0px 0px 10px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.value__first {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 5px;
    border-radius: 10px;
    background-color: #2a5298;
}

.value__second {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 5px;
    border-radius: 10px;
    background-color: #2a5298;
}

.value__third {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 5px;
    border-radius: 10px;
    background-color: #2a5298;
}

.value__fourth {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background-color: #2a5298;
}

.procent {
    font-size: 20px;
    font-size: 16px;
}


.projects {
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 5px;
} 

.projects__text {
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.projects__cards {
    display: flex;
}

.card {
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card__image {
    margin: 20px 0px 0px 0px;
    width: 200px;
    height: 190px;
    margin: 30px auto 10px auto;
    border-radius: 10px;
}

.card__title {
    text-align: center;
    padding: 0px 0px 10px 0px;
}

.card__text {
    padding:30px;
}

a {
    color: #fff;
    text-decoration: none;
}

.btn {
    margin: 10px 0px 0px 0px;
    height: 40px;
    width: 150px;
    background-color: #2a5298;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}